
/* start components  */


.between-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



/* end components  */




/* Start box  */

.d-flex {
    display: flex
}

.align-center {
    align-items: center;
}


.space-between {
    justify-content: space-between;
}


.d-grid {
    display: grid;
}

.gab-20 {
    gap: 20px;
}


/* end box  */




/* Start padding + margin  */


.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}

.p-20 {
    padding: 20px;
}

.m-20 {
    margin: 20px;
}



.mt-0 {
    margin-top: 0;
}

.mt-5{
    margin-top: 5px;
}

.mb-5 {
    margin-bottom: 5px ;
}


.mb-10 {
    margin-bottom: 10px ;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}


.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/* End  */



/* Start Color  */

.bg-white {
    background-color:white ;
}

.p-grey {
    color: #888;
}

.bg-eee {
    background-color: #EEEEEE;
}


.bg-red {
    background-color: var(--red-color);
}


.bg-green {
    background-color: var(--green-color);
}


.bg-blue {
    background-color: var(--blue-color);
}

.bg-orange {
    background-color: var(--orange-color);
}


.c-white {
    color: white;
}

.c-black {
    color: black;
}

.c-orange {
    color: #f59e0b;
}

.c-green {
    color: #22c55e;
}

.c-blue {
    color :  blue;
}


.c-red {
    color: var(--red-color);
}

/* End Color  */



/* start postion  */

.p-relative {
    position: relative;
} 

/* End postion */



/* Start txt  */


.txt-c {
    text-align: center;
}

.fs-13 {
    font-size: 13px;
}


.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}




.fw-600 {
    font-weight: 600;
}

@media (max-width : 768px) {
    .text-c-mobile {
        text-align: center;
    }  
    .d-block-mobile {
        display: block;
    }

    .d-none-mobile {
        display: none;
    }
}



/* End txt  */


/* Start Radius */
.rad-6 {
    border-radius: 6px;
}

.rad-10 {
    border-radius: 10px;
}

/* End Radius  */



/* custom mobile responsive  */


.w-100 {
    width: 100%;
}



@media (max-width : 768px) {
    .hide-mobile {
        display: none;
    }
}


/* Custome class  */


.widdget-prop {
   background-color: white;
   padding: 20px;
   border-radius: 10px;
}

/*  */

/*  */



